[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
Type=Application
Categories=Application;
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Icon=maemo-taskmanager
Name=Task Manager
Exec=/usr/bin/maemo-taskmanager.py
StartupWMClass=maemo-taskmanager.py
