recursive-include tests *.py *.png *.jpg
recursive-include examples *.py *.png *.jpg
recursive-include docs *
recursive-include share *
include MANIFEST.in
include AUTHORS
include COPYING
include README
