Source: maemo-taskmanager
Section: user/tools
Priority: optional
Maintainer: Gustavo Sverzut Barbieri <barbieri@gmail.com>
Standards-Version: 3.6.0

Package: maemo-taskmanager
Architecture: all
Depends: eagle (>=0.7)
Description: Simple Task Manager to allow identify and kill resource hungry applications
 Simple Task Manager for Maemo
 .
 This task manager list every user process and identify which are consuming more CPU and memory
 and also allows you to kill desired processes.

